.content {
  width: 100%;
  margin: 0 auto;
  padding: 0 110px 130px;
  box-sizing: border-box;
}

a, a:visited {
  color: #2e6c8e;
}

.progress_inner__step:before, .progress_inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 620px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}

.progress_inner__bar, .progress_inner__bar--set {
  height: 6px;
  left: 10%;
  background: repeating-linear-gradient(45deg, #1ea4ec, #1ea4ec 4px, #1f8bc5 4px, #1f8bc5 10px);
  transition: width 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
  border-radius: 6px;
  width: 0;
  position: relative;
  z-index: -1;
}

.progress_inner__step:before {
  content: "";
  width: 115px;
  height: 115px;
  color: #70afd0;
  line-height: 30px;
  border: 3px solid #a6cde2;
  font-size: 12px;
  top: 15px;
  border-radius: 100%;
  transition: all .4s;
  cursor: pointer;
  pointer-events: none;
}

.progress_inner__step {
  width: 17%;
  font-size: 14px;
  padding: 0 10px;
  transition: all .4s;
  float: left;
  text-align: center;
  position: relative;
}

.progress_inner__step label {
  padding-top: 80px;
  top: 5px;
  display: block;
  position: relative;
  cursor: pointer;
}

.progress_inner__step:hover {
  color: white;
}

.progress_inner__step:hover:before {
  color: white;
  border: 4px solid #70afd0;
  transition: .3s;
}

.progress_inner {
  height: 200px;
  width: 700px;
}

.progress_inner #step-5:checked + div {
  width: 80%;
}

.progress_inner #step-5:checked + div + div + div > .tab:nth-of-type(5) {
  opacity: 1;
  top: 50px;
}

.progress_inner #step-5:checked + div + div + div + div {
  right: 10%;
}

.progress_inner #step-4:checked + input + div {
  width: 60%;
}

.progress_inner #step-4:checked + input + div + div + div > .tab:nth-of-type(4) {
  opacity: 1;
  top: 50px;
}

.progress_inner #step-4:checked + input + div + div + div + div {
  right: 30%;
}

.progress_inner #step-3:checked + input + input + div {
  width: 40%;
}

.progress_inner #step-3:checked + input + input + div + div + div > .tab:nth-of-type(3) {
  opacity: 1;
  top: 50px;
}

.progress_inner #step-3:checked + input + input + div + div + div + div {
  right: 50%;
}

.progress_inner #step-2:checked + input + input + input + div {
  width: 20%;
}

.progress_inner #step-2:checked + input + input + input + div + div + div > .tab:nth-of-type(2) {
  opacity: 1;
  top: 50px;
}

.progress_inner #step-2:checked + input + input + input + div + div + div + div {
  right: 70%;
}

.progress_inner #step-1:checked + input + input + input + input + div {
  width: 0;
}

.progress_inner #step-1:checked + input + input + input + input + div + div + div > .tab:nth-of-type(1) {
  opacity: 1;
  top: 50px;
}

.progress_inner #step-1:checked + input + input + input + input + div + div + div + div {
  right: 90%;
}

.progress_inner__step:nth-of-type(1):before {
  background-image: url("../../assets/image/design/logo6.jpg");
  background-size: cover;
}

.progress_inner__step:nth-of-type(2):before {
  background-image: url('../../assets/image/design/logo5.jpg');
  background-size: cover;
}

.progress_inner__step:nth-of-type(3):before {
  background-image: url("../../assets/image/design/logo2.jpg");
  background-size: cover;
}

.progress_inner__step:nth-of-type(4):before {
  background-image: url("../../assets/image/design/logo4.jpg");
  background-size: cover;
}

.progress_inner__step:nth-of-type(5):before {
  background-image: url("../../assets/image/design/logo7.jpg");
  background-size: cover;
}

.progress_inner__bar--set {
  width: 80%;
  top: -6px;
  background: #70afd0;
  position: relative;
  z-index: -2;
}

.progress_inner__tabs .tab {
  opacity: 0;
  position: absolute;
  top: 80px;
  text-align: center;
  margin-top: 80px;
  box-shadow: 0 2px 1px #80b7d5;
  padding: 30px;
  background: white;
  border-radius: 10px;
  transition: all .2s;
}

.progress_inner__tabs .tab h1 {
  margin: 0;
}

.progress_inner__tabs .tab p {
  font-weight: 400;
  opacity: 0.8;
}

.progress_inner input[type="radio"] {
  display: none;
}
