.timer {
  background: rgba(255, 255, 255, 0.5);
  padding: 3px 0 3px 0;
}
.custom {
  list-style: none;
  margin: 6px;
  padding: 0;
  display: block;
}

.custom li {
  display: inline-block;
}

.custom li span {
  min-width: 80px;
  font-size: 50px;
  color: white;
  background: #2e6c8e;
  padding: 20px;
  display: inline-block;
}

.countdown li div {
  margin: 0;
  color: white;
}
